src/main/mule/accounts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="55c82730-1d89-4c31-88b4-36bd4b8e4d46" >
		<jms:active-mq-connection >
			<jms:caching-strategy >
				<jms:no-caching />
			</jms:caching-strategy>
			<jms:factory-configuration />
		</jms:active-mq-connection>
	</jms:config>
	<flow name="receiveJMSMessages" doc:id="ae1a6f29-2782-4074-b34d-3a034a02fc85" >
		<jms:listener doc:name="JMS accountsQ" doc:id="4a802f7d-76ee-4063-87be-1491207d4d0f" config-ref="JMS_Config" destination="accountsQ">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<ee:transform doc:name="JSON to Accounts" doc:id="59eb6918-c4fa-4648-b23b-f8ce05a7a076" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
    Name: payload01.name,
    BillingStreet: payload01.street,
    BillingCity: (payload01.city default ""),
    BillingState: payload01.state,
    BillingPostalCode: payload01.postal,
    BillingCountry: payload01.country
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="syncWithSalesforce" doc:id="7b869c23-72d8-4330-9987-e3522647874a" >
			<batch:process-records >
				<batch:step name="IsAccountInSalesforce" doc:id="fbe0c6dd-9c15-4828-bdca-8988a1f60e5f" >
					<salesforce:query doc:name="Account" doc:id="a5d8e730-f3db-4ff5-ac92-bf4fec59a059" config-ref="Salesforce_Config" target="exists" targetValue="#[(sizeOf(payload as Array) &gt; 0)]">
						<salesforce:salesforce-query ><![CDATA[SELECT Name FROM Account
WHERE Name= ':cname']]></salesforce:salesforce-query>
						<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"cname" : payload.Name default "" as String
}]]]></salesforce:parameters>
					</salesforce:query>
					<logger level="INFO" doc:name="Logger" doc:id="c652aa4f-11c8-44f6-990a-d876995c7fb6" />
				</batch:step>
				<batch:step name="writeToSalesforce" doc:id="f408c114-8b1e-402a-9b5a-0ae1cb73499b" acceptExpression="#[not vars.exists]">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="6c2a6046-6c16-4b75-83a0-5a2ef02949a0" size="3">
						<salesforce:create type="Account" doc:name="Accounts" doc:id="05d67a68-d628-4c5c-a848-a12f2a218ad9" config-ref="Salesforce_Config" />
						<logger level="INFO" doc:name="Logger" doc:id="eea71287-dd5e-4b1e-9a99-f965007a7705" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="86c90cf9-e0a0-4a46-9155-cfc9478f95d8" />
			</batch:on-complete>
		</batch:job>
		<logger level="INFO" doc:name="payload" doc:id="e823b648-c77d-4120-958e-f7017d3e0265" message="#[payload]"/>
	</flow>
	<flow name="syncDBaccountsWithPortal" doc:id="2412bcba-179b-47c0-95a5-1d638e1fdf74" initialState="started">
		<scheduler doc:name="Scheduler" doc:id="169d4593-4807-4d47-905f-57398c9807f2" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<os:retrieve doc:name="lastAccountID" doc:id="f711aa5f-ad15-43dc-b035-a699ebe6b4c5" key="lastAccountID" target="lastAccountID">
			<os:default-value ><![CDATA[0]]></os:default-value>
		</os:retrieve>
		<db:select doc:name="accounts" doc:id="d718804a-85fd-418c-b300-6ceb9462b558" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM accounts 
WHERE postal = :postal AND accountID > :lastAccountID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{ postal: '94105', lastAccountID: vars.lastAccountID}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="05d1c9e3-a03e-403d-b9ee-fa0f83968128" >
			<when expression="#[not isEmpty(payload)]">
				<os:store doc:name="lastAccountID" doc:id="e4040296-26f8-4f94-af6c-f413d24c7f18" key="lastAccountID">
			<os:value><![CDATA[#[max(payload.*accountID)]]]></os:value>
		</os:store>
				<file:write doc:name="DBaccountsPostal.csv" doc:id="fb455ceb-b24a-4734-9e63-1171da9fb989" config-ref="File_Config" path="output/DBaccountsPostal.csv" mode="APPEND">
			<file:content><![CDATA[#[output application/csv header=false 
---
payload]]]></file:content>
		</file:write>
				<jms:publish doc:name="JMS accountsQ" doc:id="8c636084-27ef-4fd9-a673-439f5aa7581b" config-ref="JMS_Config" destination="accountsQ">
					<jms:message >
						<jms:body ><![CDATA[#[output application/json
---
payload]]]></jms:body>
						<jms:properties ><![CDATA[#[{"publisher":"training"}]]]></jms:properties>
					</jms:message>
				</jms:publish>
				<logger level="INFO" doc:name="CSV payload" doc:id="fb268b63-f576-4a05-9947-72ab9a7f0ae9" message="#[output application/csv --- payload]" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="No new records" doc:id="498e7a3a-5a13-4954-b07d-810511344eb6" message="No new records"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="syncDBaccountsToCSV" doc:id="2f7a6439-9572-44ce-a6d3-a2bbc80100bb" initialState="stopped">
		<db:listener doc:name="accounts" doc:id="eaa86804-f08e-4e4e-885a-2734dd43f4f8" config-ref="Database_Config" table="accounts" watermarkColumn="accountID" idColumn="accountID">
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</db:listener>
		<ee:transform doc:name="Java to CSV" doc:id="155b7a5c-3742-4e89-b337-bdfa42362a46" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv header=false
---
[payload]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="DBaccounts.csv" doc:id="d3004b75-9e25-4a71-a99a-674c6fbacafc" config-ref="File_Config" path="output/DBaccounts.csv" mode="APPEND"/>
		<logger level="INFO" doc:name="payload" doc:id="99797a95-8076-473a-b76e-98f3f12c8a29" />
	</flow>
	<flow name="batchProcessCSVaccounts" doc:id="f4b6e6ef-9c5b-48dc-a1ef-80c98fc0ed36" >
		<file:listener doc:name="accounts.csv" doc:id="834a461d-1a0a-4563-9a69-f09d2351d351" config-ref="File_Config" directory="input" moveToDirectory="output" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<ee:transform doc:name="CSV to Java" doc:id="0e206b22-4ca3-4775-8685-e331fe842ebb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[sizeOf(payload)]" doc:name="size" doc:id="9e3fc892-fd39-4085-96f7-bf27b9165d2b" variableName="size"/>
		<batch:job jobName="accountsBatch_Job" doc:id="36ee0e90-e39d-43c4-8fc1-40b8aa2fe256" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="443ff722-f864-4a5d-98ee-d1e07c5b3bcb" >
					<set-variable value="#[payload.Name]" doc:name="cname" doc:id="e686faa1-ac62-4ede-a7b2-ca0e4e8330b8" variableName="cname"/>
					<logger level="INFO" doc:name="Logger" doc:id="89cf4e2b-26df-452c-8244-eb8481f28803" />
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="9ec9d578-e50a-40a6-a26d-158fff587520" >
					<logger level="INFO" doc:name="Logger" doc:id="e7c1d87c-de82-4122-8872-746da9e00150" />
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="aadf99f2-bb98-4161-a85f-8a2a31cc166d" />
			</batch:on-complete>
		</batch:job>
	</flow>
	<flow name="getCSVaccounts" doc:id="60c1d786-bba1-43a8-b928-49e8326643af" initialState="stopped">
		<file:listener doc:name="accounts.csv" doc:id="1fa03c67-ad4e-4f69-984c-de2b6a2c8fb0" config-ref="File_Config" directory="input" moveToDirectory="output">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<ee:transform doc:name="CSV to Java" doc:id="76d4dd05-5036-46c9-9aac-0561715c44c1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="aae0953e-f52d-4201-a939-b534d8c72b1f" >
			<set-payload value="processed" doc:name="processed" doc:id="c33c963b-2c58-431a-9f0b-bc1faaa587a9" />
			<logger level="INFO" doc:name="payload" doc:id="b5e877fe-4450-4926-b4a4-edd36ead2409" message="#[payload]"/>
		</foreach>
		<logger level="INFO" doc:name="payload" doc:id="eaca6c69-0a93-4adc-9d28-affbe1c5d1c9" message="#[payload]" />
	</flow>
	<flow name="getSFDCaccounts" doc:id="856fdad9-0dc0-4140-a961-b7a74f94ae13" >
		<http:listener doc:name="GET /sfdc" doc:id="5d4fd6f9-9fd1-4572-b151-102092b1399c" config-ref="HTTP_Listener_config" path="/sfdc" allowedMethods="GET"/>
		<salesforce:query doc:name="Account" doc:id="23389a4c-69e0-4e81-8a7a-e4be481b4c86" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT Name, LastModifiedDate, BillingPostalCode
FROM Account]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="0f9a85c6-1b0c-4b98-9ffe-92242afb3deb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
