src/main/mule/accounts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="55c82730-1d89-4c31-88b4-36bd4b8e4d46" >
		<jms:active-mq-connection >
			<jms:caching-strategy >
				<jms:no-caching />
			</jms:caching-strategy>
			<jms:factory-configuration />
		</jms:active-mq-connection>
	</jms:config>
	<flow name="receiveJMSMessages" doc:id="ae1a6f29-2782-4074-b34d-3a034a02fc85" >
		<jms:listener doc:name="JMS accountsQ" doc:id="4a802f7d-76ee-4063-87be-1491207d4d0f" config-ref="JMS_Config" destination="accountsQ">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<logger level="INFO" doc:name="payload" doc:id="e823b648-c77d-4120-958e-f7017d3e0265" message="#[payload]"/>
	</flow>
	<flow name="syncDBaccountsWithPortal" doc:id="2412bcba-179b-47c0-95a5-1d638e1fdf74" initialState="stopped">
		<scheduler doc:name="Scheduler" doc:id="169d4593-4807-4d47-905f-57398c9807f2" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<os:retrieve doc:name="lastAccountID" doc:id="f711aa5f-ad15-43dc-b035-a699ebe6b4c5" key="lastAccountID" target="lastAccountID">
			<os:default-value ><![CDATA[0]]></os:default-value>
		</os:retrieve>
		<db:select doc:name="accounts" doc:id="d718804a-85fd-418c-b300-6ceb9462b558" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM accounts 
WHERE postal = :postal AND accountID > :lastAccountID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{ postal: '94105', lastAccountID: vars.lastAccountID}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="05d1c9e3-a03e-403d-b9ee-fa0f83968128" >
			<when expression="#[not isEmpty(payload)]">
				<os:store doc:name="lastAccountID" doc:id="e4040296-26f8-4f94-af6c-f413d24c7f18" key="lastAccountID">
			<os:value><![CDATA[#[max(payload.*accountID)]]]></os:value>
		</os:store>
				<file:write doc:name="DBaccountsPostal.csv" doc:id="fb455ceb-b24a-4734-9e63-1171da9fb989" config-ref="File_Config" path="output/DBaccountsPostal.csv" mode="APPEND">
			<file:content><![CDATA[#[output application/csv header=false 
---
payload]]]></file:content>
		</file:write>
				<jms:publish doc:name="JMS accountsQ" doc:id="8c636084-27ef-4fd9-a673-439f5aa7581b" config-ref="JMS_Config" destination="accountsQ">
					<jms:message >
						<jms:body ><![CDATA[#[output application/json
---
payload]]]></jms:body>
						<jms:properties ><![CDATA[#[{"publisher":"training"}]]]></jms:properties>
					</jms:message>
				</jms:publish>
				<logger level="INFO" doc:name="CSV payload" doc:id="fb268b63-f576-4a05-9947-72ab9a7f0ae9" message="#[output application/csv --- payload]" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="No new records" doc:id="498e7a3a-5a13-4954-b07d-810511344eb6" message="No new records"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="syncDBaccountsToCSV" doc:id="2f7a6439-9572-44ce-a6d3-a2bbc80100bb" initialState="stopped">
		<db:listener doc:name="accounts" doc:id="eaa86804-f08e-4e4e-885a-2734dd43f4f8" config-ref="Database_Config" table="accounts" watermarkColumn="accountID" idColumn="accountID">
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</db:listener>
		<ee:transform doc:name="Java to CSV" doc:id="155b7a5c-3742-4e89-b337-bdfa42362a46" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv header=false
---
[payload]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="DBaccounts.csv" doc:id="d3004b75-9e25-4a71-a99a-674c6fbacafc" config-ref="File_Config" path="output/DBaccounts.csv" mode="APPEND"/>
		<logger level="INFO" doc:name="payload" doc:id="99797a95-8076-473a-b76e-98f3f12c8a29" />
	</flow>
	<flow name="getCSVaccounts" doc:id="60c1d786-bba1-43a8-b928-49e8326643af" >
		<file:listener doc:name="accounts.csv" doc:id="1fa03c67-ad4e-4f69-984c-de2b6a2c8fb0" config-ref="File_Config" directory="input" moveToDirectory="output">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<ee:transform doc:name="CSV to Java" doc:id="76d4dd05-5036-46c9-9aac-0561715c44c1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="aae0953e-f52d-4201-a939-b534d8c72b1f" >
			<set-payload value="processed" doc:name="processed" doc:id="c33c963b-2c58-431a-9f0b-bc1faaa587a9" />
			<logger level="INFO" doc:name="payload" doc:id="b5e877fe-4450-4926-b4a4-edd36ead2409" message="#[payload]"/>
		</foreach>
		<logger level="INFO" doc:name="payload" doc:id="eaca6c69-0a93-4adc-9d28-affbe1c5d1c9" message="#[payload]" />
	</flow>
	<flow name="getSFDCaccounts" doc:id="856fdad9-0dc0-4140-a961-b7a74f94ae13" >
		<http:listener doc:name="GET /sfdc" doc:id="5d4fd6f9-9fd1-4572-b151-102092b1399c" config-ref="HTTP_Listener_config" path="/sfdc" allowedMethods="GET"/>
		<salesforce:query doc:name="Account" doc:id="23389a4c-69e0-4e81-8a7a-e4be481b4c86" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT Name, LastModifiedDate, BillingPostalCode
FROM Account]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="0f9a85c6-1b0c-4b98-9ffe-92242afb3deb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
